[Unit]
Description=Service to forward sensor data to ingest server
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/palert-to-ingest
ExecStart=/bin/sh -c '/usr/bin/python3 palert-ingest.py >> /home/pi/palert-to-ingest/logs 2>&1'

[Install]
WantedBy=multi-user.target